{
	# debug
	admin off
	auto_https off
}

:3000 {
	encode zstd gzip

	redir / http://127.0.0.1:3000/menu/
	redir /menu http://127.0.0.1:3000/menu/
	redir /a http://127.0.0.1:3000/a/
	redir /b http://127.0.0.1:3000/b/

	reverse_proxy /menu/* http://127.0.0.1:3001
	reverse_proxy /a/* http://127.0.0.1:3002
	reverse_proxy /b/* http://127.0.0.1:3003
}
